<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/persona.js}"></script>



</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<form th:action="@{/persona/registrar}" method="post"
		th:object="${persona}">
		<div class="form-group">
			<label for="idpersona">ID:</label> <input type="text"
				 class="form-control" th:field="*{idPersona}"
				id="idpersona"></input>
		</div>

		<div class="form-group">
			<label for="dni">DNI:</label>
			
			<input type="text" class="form-control"
				 th:field="*{dniPersona}"
				id="dni" ></input>
		</div>

		<div class="form-group">
			<label for="nombre">NOMBRE:</label> <input type="text"
				th:field="*{namePersona}" class="form-control" id="nombre"></input>
		</div>
		<div class="form-group">
			<label for="fechanacimiento">FECHA DE NACIMIENTO:</label> <input type="date" th:field="*{birthDatePersona}" 
			class="form-control" id="fechanacimiento" ></input>
		</div>


		<div class="form-group">
			<label for="direccion">EMAIL:</label> <input type="email"
				class="form-control"
				th:field="*{emailPersona}" id="direccion" ></input>
		</div>
		<button type="submit" class="btn btn-primary">AceptarPersona</button>
		<a href="/persona/listar" class="btn btn-danger">Cancelar</a>

	</form>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
